.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    width: 100%;

    padding: 1rem;
    background: var(--gray-400);
    border-radius: 8px;
    gap: 0.75rem;
}

.todoMain {
    display: flex;
    gap: 0.75rem;

    align-items: flex-start;
}

.todoMain p {
    padding-right: 1rem;
}

.todoCheck {
    color: var(--blue);
}

.todoCheckDone {
    color: var(--purple);
}

.todoText {
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--gray-100);
}

.todoTextDashed {
    text-decoration: line-through;
    color: var(--gray-300);
}